{% extends 'base.html' %}

{% block title%}
Страница для создания сотрудника
{% endblock %}

{% block body %}

<div class="container nt-5">
    <h1>Добавление сотрудника</h1>
    <form method="post">
        <input type="number" name="id" id="id" class="form-control" placeholder="Введите id сотрудника"><br>
        <input type="text" name="name_of_stuff" id="name_of_stuff" class="form-control" placeholder="Введите имя сотрудника"><br>
        <input type="text" name="adress_of_stuff" id="adress_of_stuff" class="form-control" placeholder="Введите адрес сотрудника"><br>
        <input type="number" name="numberphone" id="numberphone" class="form-control" placeholder="Введите номер телефона"><br>
        
        <p><input type="submit" value="Отправить" class="btn btn-success"></p>

    </form>
</div>

{% endblock %}