{% extends 'base.html' %}

{% block title%}
Страница для создания способа доставки
{% endblock %}

{% block body %}

<div class="container nt-5">
    <h1>Добавление способа доставки</h1>
    <form method="post">
        <input type="number" name="id" id="id" class="form-control" placeholder="Введите id способа доставки"><br>
        <input type="text" name="method_of_receiving" id="method_of_receiving" class="form-control"  placeholder="Введите способ получения"><br>
        <input type="date" name="estimated_date" id="estimated_date" class="form-control"  placeholder="Введите приблизительную дату получения"><br>

        <p><input type="submit" value="Отправить" class="btn btn-success"/></p>

    </form>
</div>

{% endblock %}