{% extends 'base.html' %}

{% block title %}
{{ editions.name_of_editions }}
{% endblock %}


{% block body %}
<div class="container mt-5"></div>
    <h1>{{ editions.name_of_editions }}</h1>

    <div class="alert alert-info">
        <p><b>ID издания: {{ editions.id }}</b> </p>
        <p><b>Полученные издания: {{ editions.received_editions }}</b> </p>
        <p><b>Названия изданий: {{ editions.name_of_editions }}</b> </p>
        <p><b>Индекс издания: {{ editions.index }}</b> </p>
        <a href="/editions/{{ editions.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/editions/{{ editions.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
{% endblock %}